<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="D:/programing/my_projects/java/qa_projects/testRozetka">
        <classes>
            <class name="test.searchNotebooks.SearchNotebooksTest">

            </class>
        </classes>
    </test>
</suite>